#root {
  width: 600px;
  height: 500px;
  background-color:  #3d3d3f;
  margin: 0 auto;
  padding: .2rem;
}

/* body {
  margin: 0;
} */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.resultTextarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 99%;
  height: auto;
  min-height: 400px;
  margin-top:1%;
  font-size: 1rem;
  background-color: #f6f5f3;
  color: #3d3d3f;
}



::placeholder {
  color:#3d3d3f;
  opacity: .6; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#3d3d3f;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color:#3d3d3f;
}

input {
  /* font-size: 1rem; */
  background-color:#f6f5f3;
  color: #3d3d3f;
}



.selection-stack {
  /* display: none; */
  z-index: 3;
  position:absolute;
  cursor: pointer;
}

.selection {
  border: 1px solid rgba(125,206,148, 0.675);
  max-width: 398px;
  min-width: 398px;
}

.div-header {
  background-color:  #f6f5f3;
  color: #3d3d3f;
  font-size: 12px;
  margin-bottom: 0px ;
  margin-top: 0px ;
  overflow:hidden;
}

.div-body {
  background-color: #f6f5f3;
  color: #3d3d3f;
  margin-bottom: 0px ;
  margin-top: 0px ;
  overflow:hidden;
}


select option {
  background-color:  #f6f5f3;
  color: #3d3d3f;
}


.root-wrap {
  justify-content: center;
}

label {
  color:  #f9f8fd;
}

.title {
  display: flex;
  justify-content: center;
  color:  #f9f8fd;
}

.header-labels {
  display: grid;
  grid-auto-flow: column;
  /* grid-column-gap: 300px; */
}

select {
  /* display: flex;
  flex-direction: column; */
  width: fit-content;
  /* position: relative; */
  background-color:  #f6f5f3;
  color: #3d3d3f;
  font-size: 12px;
  height: 21px;
}

button {
  /* display: flex;
  flex-direction: column; */
}


.tool-bar {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: start;
  /* padding: 5px;
  margin: 5px; */
}

.tool-bar > * {
  margin: 0 2px;
}

.select-media {
  width: fit-content;
  position: relative;
  /* flex: 1 1; */
  /* float: right; */
}

.search-wrap{
  width: fit-content;
  position: relative;
  /* display: inline-block; */
  /* flex: 1 1; */
  /* float: left; */
}

#search-ele {
  width: 400px;
}

.input-search-wrap {
  /* display: flex;
  flex-direction: column; */
  /* gap: .015rem; */
  /* width: 400px;
  position: relative; */
  /* display: inline-block; */
  /* position: relative; */
}

.page-number-wrap {
  width: fit-content;
  position: relative;
  /* float: right; */
}

.editor-wrap {
  width: fit-content;
  position: relative;
}

.page-input {
  /* display: flex;
  flex-direction: column; */
  /* gap: .015rem; */
  width: 50px;
  /* position: relative; */
  background-color:  #f6f5f3;
  color: #3d3d3f;
  font-size: 12px;
  /* height: 22px; */
}

.select-format {
  /* float: right; */
}

.chapter-wrap {
  /* flex-direction: column;
  align-self: flex-end; */
}

.button-wrap {
  margin-left: auto;
}